.card-sm{
    position:relative;
    margin-bottom: 45px;
    @media screen and (max-width: $mobile-break){
        margin-bottom: 35px;
    }

    a.card {

        height:250px;

        @media screen and (max-width: $mobile-break){
            
            > article {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                flex-wrap: nowrap;
                -webkit-flex-wrap: nowrap;
            }    
        }

        > article {
            position:relative;
            // height: 368px;

            > figure{
                width: auto;
                overflow: hidden;
                height:100%;

                > img{
                    max-width: 100%;
                }
            }




            > .content{
                h2{
                    font-size:  16px;
                    margin-left: 125px;
                    margin-top: 5px;
                }
                .category{
                    display: none;
                }
                .author{
                    display: none;
                }
                time{
                    display: none;
                }
                p {
                    display: none;
                }
            }
        }     
    }
}