{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{% macro smartquotes(text) %}
    {{text|replace({'/[^"]/': '&ldquo;', "/[^'']/": '&lsquo;', "'": '&rsquo;', '"': '&rdquo;'})}}
{% endmacro %}


{{this.registerJs("CardController();")}}

{% set limit = 150 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{# {% set recentArticles = _Article.getRecentArticles({'limit': 5}) %} #}
<style type="text/css">
.follow{
    display:none;
}
</style>


    <main id="main" class="site-main" role="main">

        <section class="home-page-content container">
            <div class="row header">
                <div class="col-sm-12">
                    <h1>My Picks</h1>
                </div>
            </div>

            <div class="row index-top">

                <div class="col-sm-12 main-content">
                    {% for i in 0..149 %}
                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'card-sm col-sm-4'}) | raw}}

                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}
                </div><!-- .col-sm-8-->
             </div>
        </section><!-- .home-page-content-->
    </main><!-- .site-main -->