{{ set(this, 'title', 'My Picks') }}
{% set networkData = _Network.getNetworkData() %}
{% set limit = 150 %}    
{% set userPosts = _User.getUserFeed({limit: limit, offset: 0}) %}
{% if not userPosts %} 
    {% set count = 'pbbt'}
{% else %}
    {% set count = userPosts.Length %}
{% endif %} 
{{this.registerJs("Acme.cards = CardController();")}}
<div class="userProfilePost_page">
    <section class="container">
        <div class="row">
            <!-- Begin User Profile Sidebar -->
            <div class="col-sm-12 col-xs-12">
                <header class="sub-header">My Picks</header>
                <div id="news-posts">
                    <div class="section__content">
                        <div class="row">
                            <div id="userArticleContainer" data-total-count="{{count}}" data-offset="0">
                               {% if userPosts | length > 0  %}
                                        <div id="owl-thumbnails" class="owl-carousel">
                                            {% set i = 0 %}
                                            {% for article in userPosts %}  
                                                {{this.render('//partials/_single-article.twig', {article: article, 'position': (i+1), containerClass: 'col-third', cardClass : 'card__news card--local', 'titleTruncateLength': 70}) | raw}}
                                                {%  set i = i + 1 %}
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    <p class="no-data ">No picks yet.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //End User Posts -->
        </div>
    </section>
</div>
